---
import Button from "@/components/ui/Button.astro";
import { info } from "@/data/info";
import { Icon } from "astro-icon/components";

const iconSize = 25;
---

<footer
  data-slot="container"
  class="mt-16 mb-4 flex flex-col-reverse items-center justify-between gap-8 sm:flex-row md:mb-8 md:flex-row"
  aria-label="Footer"
>
  <div class="flex h-5 items-center space-x-6 text-sm">
    <Button as="a" variant="link" size="none" href="/imprint">Impressum</Button>
    <Button as="a" variant="link" size="none" href="/privacy">Datenschutz</Button>
  </div>
  <div class="grid grid-cols-3 items-center gap-4">
    <Button as="a" variant="ghost" size="icon-sm" href={info.socialMedia.github}>
      <Icon name="github" size={iconSize} aria-label="GitHub Icon" />
    </Button>
    <Button as="a" variant="ghost" size="icon-sm" href={info.socialMedia.linkedin}>
      <Icon name="linkedin" size={iconSize} aria-label="LinkedIn Icon" />
    </Button>
    <Button as="a" variant="ghost" size="icon-sm" href={`mailto:${info.socialMedia.email}`}>
      <Icon name="email" size={iconSize} aria-label="Email Icon" />
    </Button>
  </div>
</footer>
