---
import { Icon } from "astro-icon/components";
import Button from "@/components/ui/Button.astro";
import { info } from "@/data/info";
import { ICON_SIZE } from "@/utils/constants";
---

<footer
  data-slot="container"
  class="mt-16 mb-4 flex flex-col-reverse items-center justify-between gap-8 sm:flex-row md:mb-8 md:flex-row"
  aria-label="Footer"
>
  <div class="flex h-5 items-center space-x-6 text-sm">
    <Button as="a" variant="link" size="none" href="/imprint">Impressum</Button>
    <Button as="a" variant="link" size="none" href="/privacy">Datenschutz</Button>
  </div>
  <div class="grid grid-cols-3 items-center gap-4">
    <Button as="a" variant="ghost" size="icon-sm" href={info.socialMedia.github} aria-label="GitHub Profil">
      <Icon name="github" size={ICON_SIZE} aria-hidden="true" />
    </Button>
    <Button as="a" variant="ghost" size="icon-sm" href={info.socialMedia.linkedin} aria-label="LinkedIn Profil">
      <Icon name="linkedin" size={ICON_SIZE} aria-hidden="true" />
    </Button>
    <Button as="a" variant="ghost" size="icon-sm" href={`mailto:${info.socialMedia.email}`} aria-label="E-Mail senden">
      <Icon name="email" size={ICON_SIZE} aria-hidden="true" />
    </Button>
  </div>
</footer>
