---
import Button from "@/components/ui/Button.astro";

interface Props {
  title: string;
  description?: string;
  githubUrl?: string;
  liveUrl?: string;
  docsUrl?: string;
}

const { title, description, githubUrl, liveUrl, docsUrl } = Astro.props;
---

<section class="flex w-full flex-col justify-start gap-4 sm:flex-row sm:justify-between sm:gap-8">
  <div class="flex flex-col space-y-2">
    <h1>{title}</h1>
    {description && <p class="text-muted-foreground text-xl">{description}</p>}
  </div>
  <div class="flex w-min flex-row items-center space-x-4">
    {
      liveUrl && (
        <Button as="a" href={liveUrl} target="_blank" variant="primary" size="sm">
          Live
        </Button>
      )
    }
    {
      docsUrl && (
        <Button as="a" href={docsUrl} target="_blank" variant="primary" size="sm">
          Docs
        </Button>
      )
    }
    {
      githubUrl && (
        <Button as="a" href={githubUrl} target="_blank" variant="primary" size="sm">
          GitHub
        </Button>
      )
    }
  </div>
</section>
