---
import type { CollectionEntry } from "astro:content";
import BlurImage from "@/components/ui/BlurImage.astro";
import StatusBadge from "@/components/ui/StatusBadge.astro";

interface Props {
  project: CollectionEntry<"projects">;
  lazy: boolean;
}

const {
  project: {
    data: { title, description, thumbnail, status },
    collection,
    slug,
  },
  lazy,
} = Astro.props;
---

<article class="group bg-card relative aspect-4/3 w-full overflow-hidden rounded-xl border shadow-xl">
  <a href={`/${collection}/${slug}`} aria-label={title}>
    {status && <StatusBadge status={status} />}
    <BlurImage
      src={thumbnail}
      alt={`Preview for ${title}`}
      width={600}
      loading={lazy ? "lazy" : "eager"}
      class="size-full"
      imgClass="brightness-90 transition duration-300 group-hover:scale-105"
    />
    <div class="absolute bottom-0 left-0 w-full bg-black/50 p-4 backdrop-blur-sm">
      <h3 class="mr-2 text-xl font-semibold text-white">{title}</h3>
      <p class="truncate text-sm text-white">{description}</p>
    </div>
  </a>
</article>
