---
import { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
  lazy: boolean;
}

const { project, lazy } = Astro.props;
const { title, description, thumbnail } = project.data;
---

<article class="group relative aspect-[4/3] w-full overflow-hidden rounded-xl bg-card shadow-lg">
  <a href={`/${project.collection}/${project.slug}`} aria-label="Blog Link">
    <Image
      src={thumbnail}
      class="h-full w-full object-cover object-center brightness-90 transition duration-300 group-hover:scale-105"
      loading={lazy ? "lazy" : "eager"}
      width={600}
      quality={90}
      alt={`Preview for ${title}`}
    />
    <div class="absolute bottom-0 left-0 w-full bg-black/30 p-4 text-white/90 backdrop-blur">
      <h3 class="mr-2 text-xl font-semibold text-white/90">{title}</h3>
      <p class="truncate text-sm text-white/90">{description}</p>
    </div>
  </a>
</article>
