---
import { Image } from "@astrojs/image/components";
import { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props as Props;
const { title, description, thumbnail } = project.data;
---

<article class="group relative w-full">
  <div class="overflow-hidden rounded-lg">
    <a href={`/${project.collection}/${project.slug}`} aria-label="Blog Link">
      <Image
        src={thumbnail}
        class="h-auto w-full object-cover brightness-90 transition duration-[0.5s] hover:scale-105"
        loading="lazy"
        width={600}
        height={400}
        format="webp"
        quality={80}
        alt="featureImage"
      />
    </a>
  </div>
  <div class="w-full pl-1 pt-4">
    <h3 class="mr-2 text-xl font-semibold dark:text-white">{title}</h3>
    <p class="text-sm dark:text-gray">{description}</p>
  </div>
</article>
