---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
  lazy: boolean;
}

const {
  project: {
    data: { title, description, thumbnail },
    collection,
    slug,
  },
  lazy,
} = Astro.props;
---

<article class="group relative aspect-[4/3] w-full overflow-hidden rounded-xl border bg-card shadow-xl">
  <a href={`/${collection}/${slug}`} aria-label="Blog Link">
    <Image
      src={thumbnail}
      class="size-full object-cover object-center brightness-90 transition duration-300 group-hover:scale-105"
      loading={lazy ? "lazy" : "eager"}
      width={600}
      quality="high"
      alt={`Preview for ${title}`}
    />
    <div class="absolute bottom-0 left-0 w-full bg-black/30 p-4 backdrop-blur">
      <h3 class="mr-2 text-xl font-semibold !text-slate-200">{title}</h3>
      <p class="truncate text-sm !text-slate-200">{description}</p>
    </div>
  </a>
</article>
