---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<Layout title={"Portfolio"} description={info.about[0]}>
  <Hero name={info.name} about={info.about} />
  <Experience title={"ERFAHRUNG"} details={info.experience} />
  <Experience title={"AUSBILDUNG"} details={info.education} />
  <section>
    <h2 class="w-[15rem] dark:text-light mt-16">AKTUELLE PROJEKTE</h2>
    <ProjectsWrapper projects={featureProjects} />
  </section>
</Layout>
