---
import Badge from "@/components/ui/Badge.astro";
import type { IExperience } from "@/types";

interface Props {
  item: IExperience;
}

const { item } = Astro.props;
---

<div class="grid gap-3">
  <div class="flex flex-wrap items-center justify-between gap-1">
    <h3 class="text-xl font-semibold">{item.name}</h3>
    <p class="text-muted-foreground text-sm">
      {item.startDate} - {item.endDate}
    </p>
  </div>
  <p class="text-sm text-cyan-500">{item.location}</p>
  <ul class="list-inside list-disc">
    {item.description.map((item) => <li>{item}</li>)}
  </ul>
  {
    item.skills && (
      <div class="mt-3 flex flex-wrap gap-2">
        {item.skills.map((item) => (
          <Badge variant="secondary">{item}</Badge>
        ))}
      </div>
    )
  }
</div>
