---
import { type CollectionEntry, getCollection, render } from "astro:content";
import PageHeader from "@/components/general/PageHeader.astro";
import BlurImage from "@/components/ui/BlurImage.astro";
import Layout from "@/layouts/Layout.astro";
import { statusConfig } from "@/utils/status";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects", ({ data }) => {
    return !data.draft && data.pubDatetime < new Date();
  });

  return projectEntries.map((post) => ({
    params: { slug: post.id },
    props: { entry: post },
  }));
}

interface Props {
  entry: CollectionEntry<"projects">;
}

const {
  entry,
  entry: { data },
} = Astro.props;

const { Content } = await render(entry);
---

<Layout
  frontmatter={{ title: data.title, description: data.description, ogImageUrl: data.thumbnail.src, label: data.title }}
>
  <PageHeader
    title={data.title}
    description={data.description}
    githubUrl={data.githubUrl}
    liveUrl={data.liveUrl}
    docsUrl={data.docsUrl}
  />
  <BlurImage
    src={data.thumbnail}
    alt={data.title}
    width={800}
    loading="eager"
    class="aspect-4/3 overflow-hidden rounded-xl brightness-90 sm:aspect-2/1"
  />
  <section class="grid grid-cols-1 gap-16 md:grid-cols-2 md:gap-8 lg:grid-cols-3">
    <dl class="grid grid-cols-1 content-start gap-8 sm:grid-cols-2 md:grid-cols-1">
      <div>
        <dt class="text-foreground block text-lg font-semibold uppercase">Projekttyp</dt>
        <dd class="text-muted-foreground">{data.type}</dd>
      </div>
      <div>
        <dt class="text-foreground block text-lg font-semibold uppercase">Projektjahr</dt>
        <dd class="text-muted-foreground">{data.year}</dd>
      </div>
      <div>
        <dt class="text-foreground block text-lg font-semibold uppercase">Projektstatus</dt>
        <dd class="text-muted-foreground">{statusConfig[data.status].label}</dd>
      </div>
    </dl>
    <article class="prose dark:prose-invert lg:col-span-2">
      <Content />
    </article>
  </section>
</Layout>
